
{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Рекомендации фильмов | Flickpage</title>
    <link rel="stylesheet" href="{% static 'users/css/main_page.css' %}">
    <link rel="stylesheet" href="{% static 'preferences/css/recommendations_movies.css' %}">
    <link rel="icon" type="image/png" href="{% static 'users/img/minilogo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <header class="shapka">
        <div class="logo_1">
            <a href="{% url 'search:browse' %}"><img src="{% static 'users/img/logo.png' %}" height="55" alt="Лого"></a>
        </div>
        <nav class="site-links">
            <a href="{% url 'about' %}">О нашей команде</a>
        </nav>
        <div class="profile_pic">
            <a href="{% url 'profile' %}"><img src="{% static 'users/img/pfp.png' %}" width="60" alt="Иконка профиля"></a>
        </div>
    </header>

    <main class="main">
        <div class="container">
            <h1>Рекомендации от GigaChat</h1>

            <div class="generate-form">
                <form method="post">
                    {% csrf_token %}
                    <button type="submit" class="generate-button">Сгенерировать рекомендации</button>
                </form>
            </div>
            
            {% if preference.movie_recommendations_updated %}
            <div class="updated-date">
                Обновлено: {{ preference.movie_recommendations_updated|date:"d.m.Y H:i" }}
            </div>
            {% endif %}

            {% if recommendations %}
                <div class="section">
                    <h2>Фильмы для Вас</h2>
                    <div class="recommendation-list">
                        {% for item in recommendations %}
                            <div class="recommendation-item">
                                {% if item.movie %}
                                    <a href="{% url 'search:film_page' item.movie_id %}" class="book-link">
                                        {{ item.text }}
                                    </a>
                                {% else %}
                                    {{ item.text }}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                </div>
            {% else %}
                <p class="no-recommendations">Нет рекомендаций по книгам.</p>
            {% endif %}

            <div class="back-link">
                <a href="{% url 'profile' %}">Назад в профиль</a>
            </div>
        </div>
    </main>
</body>
</html>