*{
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("img/profile_fon.webp");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding: 20px;
    margin: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
}
.logo {
    align-items: center;
    font-size: 14px;
    color: #555;
    text-decoration: none;
    font-weight: bold;
}
.user-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #555;
    font-size: 20px;
}
.container {
    max-width: 700px;
    background: #FAC012;
    padding: 20px;
    margin: 80px auto 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
h1 {
    text-align: center;
    color: #A60B03;
    font-weight: 600;
}
input, select, button {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    background-color: #A60B03;
    color: white;
    border: none;
    cursor: pointer;
}
button:hover {
    background-color: #910a03;
}
.checkbox-group, .multi-select {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 5px 0;
}
.checkbox-group label, .multi-select label {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    flex: 1;
}
.checkbox-group input, .multi-select input {
    display: none;
}
.checkbox-group input:checked + label, .multi-select input:checked + label {
    border-color: #FF8800;
    background-color: #FF8800;
    color: white;
}
#yearRangeSlider .noUi-connect {
    background: #FF8800; /* Красная линия между бегунками */
}

#yearRangeSlider .noUi-target {
    background: #f0f0f0; /* Светло-серый фон всего ползунка */
    border: none;
    box-shadow: none;
    height: 4px; /* Тонкая линия */
}

#yearRangeSlider .noUi-handle {
    background: white; /* Белые бегунки */
    border: 2px solid #999; /* Серые обводки */
    border-radius: 50%;
    width: 18px;
    height: 18px;
    top: -7px; /* Чтобы бегунок был по центру линии */
    box-shadow: 0 0 5px rgba(0,0,0,0.2);
    cursor: pointer;
}

/* Убираем лишние полоски на бегунках */
#yearRangeSlider .noUi-handle::before,
#yearRangeSlider .noUi-handle::after {
    display: none;
}

/* Настройки для всплывающих подсказок (лет) */
#yearRangeSlider .noUi-tooltip {
    background: #FF8800;
    color: white;
    border: none;
    font-size: 14px;
    border-radius: 3px;
    padding: