{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход в аккаунт</title>
    <link rel="stylesheet" href="{% static 'pitle/css/register_page.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <!-- <video autoplay loop muted class="bgvideo" id="bgvideo">
            <source src="007_03.mp4" type="video/mp4"></source>
        </video> -->
         <form action=""> <!-- в action мы вставляем php документ, чтобы шла передача в сервер, где всё обрабатывается -->
            <h1>Login</h1>
        <div class="input-box">
            <input type="text" placeholder="Username" required>
            <i class='bx bx-user-plus'></i>
        </div>
        <div class="input-box">
            <input type="password" placeholder="Password" required>
            <i class='bx bxs-lock-alt'></i>
        </div>
        <div class="remember">
            <label for=""> <input type="checkbox">Запомнить меня</label>
            <a href="#">Забыли пароль?</a>
        </div>


        <button type="submit" class ="btn1">Войти</button>

        <div class="register-link">
            <p>Нет аккаунта? Давайте создадим его вместе! <a href="#">Зарегистрироваться</a></p>

        </div>
        </form>
    </div>
</body>
</html>