*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:transparent;
    background: url("vid/007_03.mp4");
    background-size: cover;
}

.wrapper{
    width: 420px;
    background-color: #1f1818;
    border: 2px solid rgb(255, 255, 255, .2);
    /* backdrop-filter: blur(20px); */
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    color:antiquewhite;
    border-radius: 10px;
    padding: 30px 40px;
}

.wrapper h1{
    font-size: 36px;
    text-align: center;
    font-weight: 550;
}

.wrapper .input-box{
    width: 100%;
    height: 50px;
    margin: 30px 0;
    position: relative;
}

.input-box input{
    width: 100%;
    height: 100%;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgb(255, 255, 255, .2);
    border-radius: 40px;
    font-size: 16px;
    color:antiquewhite;
    padding: 20px 45px 20px 20px;

}

.input-box input::placeholder{
    color:antiquewhite;
}

.input-box i{
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    font-size: 20px;
}

.wrapper .remember{
    display: flex;
    justify-content: space-between;
    font-size: 14.5px;
    margin: -15px 0 15px;
}

.remember label input{
    accent-color: #fff;
    margin-right: 3px;
}

.remember a{
    color: antiquewhite;
    text-decoration: none;
}
.remember a:hover{
    color:orange;
    transition: 0.4s;
    text-decoration: underline;
}

.wrapper .btn1{
    width: 100%;
    height: 45px;
    background:antiquewhite;
    border:none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgb(0, 0, 0, .1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
}

.wrapper .register-link{
    font-size: 14.5px;
    text-align:center;
    margin-top:20px
}

.register-link p a{
    color:antiquewhite;
    text-decoration: none;
    font-weight: 600;
}

.register-link p a:hover{
    color:orange;
    transition: 0.4s;
    text-decoration: underline;
}

.bgvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -9999;
  }

  .alert-warning {
    background-color: #fff3cd;
    color: #856404;
    padding: 15px;
    margin-bottom: 20px;
    border-radius: 4px;
    border: 1px solid #ffeeba;
}

.btn-verify {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 15px;
    background-color: #ffc107;
    color: #212529;
    border-radius: 4px;
    text-decoration: none;
    font-weight: bold;
}

.btn-verify:hover {
    background-color: #e0a800;
}