{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Посоветовать книгу или фильм онлайн</title>
    <link rel="stylesheet" href="{% static 'users/css/main_page.css' %}">
</head>
<body>
    <header class="shapka">
        <div class="logo_1">
            <a href=""><img src="{% static 'users/img/logo.png' %}" height="55" alt="Лого"></a>
        </div>
        <div class="profile_pic">
            <a href=""><img src="{% static 'users/img/pfp.png' %}" width="60" alt="Иконка профиля"></a>
        </div>
    </header>

    <nav class="site-links">
        <a href="info_about_us.html">О нашей команде</a>
        <a href="about_create_site.html">О создании сайта</a>
    </nav>

    <main class="main">
        <div class="hello">
            <h1>Привет!<br>Подберем подходящую <strong><em>именно тебе</em></strong> книгу или фильм?</h1>
            <h1>Лучшие книги и фильмы уже на нашем сайте!</h1>
        </div>
        <form action="{% url 'login' %}" method="get">
            <button class="btn">Конечно, поехали!</button>
        </form>
    </main>
</body>
</html>