{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Вход | Flickpage</title>
    <link rel="stylesheet" href="{% static 'users/css/login_page.css' %}">
    <link rel="icon" type="image/png" href="{% static 'users/img/minilogo.png' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <video autoplay loop muted class="bgvideo" id="bgvideo">
            <source src="{% static 'users/vid/007_03.mp4' %}" type="video/mp4"></source>
        </video>
        
        <form method="post" action="{% url 'login' %}">
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ request.GET.next }}">
            
            <h1>Вход</h1>
            
            {% if form.errors %}
            <div class="alert-error">
                Неверное имя пользователя или пароль. Пожалуйста, попробуйте снова.
            </div>
            {% endif %}
            
            <div class="input-box">
                <input type="text" name="username" placeholder="Имя пользователя" required>
                <i class='bx bx-user-plus'></i>
            </div>
            
            <div class="input-box">
                <input type="password" name="password" placeholder="Пароль" required>
                <i class='bx bxs-lock-alt'></i>
            </div>
            
            <div class="remember">
                <a href="{% url 'password_reset' %}">Забыли пароль?</a>
            </div>

            <button type="submit" class="btn1">Войти</button>

            <div class="register-link">
                <p>Нет аккаунта? Давайте создадим его вместе! <a href="{% url 'register' %}?next={{ request.GET.next }}">Зарегистрироваться</a></p>
            </div>
        </form>
    </div>
</body>
</html>