{% load static%}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="{% static 'users/css/register_page.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="icon" type="image/png" href="{% static 'users/img/minilogo.png' %}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <video autoplay loop muted class="bgvideo">
            <source src="{% static 'users/vid/007_03.mp4' %}" type="video/mp4">
        </video>

        <form method="post">
            {% csrf_token %}
            <h1>Восстановление пароля</h1>

            <div class="input-box">
                {{ form.email }}
                <i class='bx bx-envelope'></i>
            </div>

            {% if form.email.errors %}
            <div class="errors">
                {% for error in form.email.errors %}
                <p class="error">{{ error }}</p>
                {% endfor %}
            </div>
            {% endif %}

            <button type="submit" class="btn1">Отправить инструкции</button>
        </form>
    </div>

    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const emailInput = document.getElementById('id_email');
            if(emailInput) {
                emailInput.placeholder = 'Введите ваш Email';
                emailInput.className = '';
                emailInput.style.backgroundColor = 'transparent';
                emailInput.style.color = '#fff';
            }
        });
    </script>
</body>
</html>