{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Восстановление пароля</title>
    <link rel="stylesheet" href="{% static 'users/css/register_page.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
    <div class="wrapper">
        <video autoplay loop muted class="bgvideo" id="bgvideo">
            <source src="{% static 'users/vid/007_03.mp4' %}" type="video/mp4"></source>
        </video>
        
        <form method="post" action="">
          {% csrf_token %}
            <h1>Восстановление пароля</h1>
            
            <div class="input-box">
                {{ form.new_password1 }}
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="form-error">{{ form.new_password1.errors }}</div>
            
            <div class="input-box">
                {{ form.new_password2 }}
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="form-error">{{ form.new_password2.errors }}</div>

            <button type="submit" class="btn1">Продолжить</button>
        </form>
    </div>
</body>
</html>