{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ваш профиль</title>
    <link rel="stylesheet" href="{% static 'users/css/profile_page.css' %}">
</head>
<body>
    <div class="logo_1">
        <a href="{% url 'search:browse' %}"><img src="{% static 'users/img/logo.png' %}" height="55" alt="Лого"></a>
    </div>
    <div class="profile-container">
        <!-- Иконка профиля в правом верхнем углу -->
        <div class="profile-icon">
            <img src="{% static 'users/img/pfp.png' %}" alt="Иконка профиля" onclick="toggleDropdown()">
            <div id="profileDropdown" class="dropdown-menu">
                <a href="{% url 'logout' %}">Выйти из аккаунта</a>
            </div>
        </div>
        <h1>Ваш профиль</h1>
        
        <div class="username">{{ username }}</div>
        
        <div class="section">
            <div class="section-title">Мои рекомендации</div>
            <div class="menu-item"><a href="{% url 'recommendations_books' %}">Книги</a></div>
            <div class="menu-item"><a href="{% url 'recommendations_movies' %}">Фильмы</a></div>
        </div>
        
        <div class="section">
            <div class="section-title">Дневник</div>
            <div class="menu-item"><a href="">Под ваше настроение</a></div>
        </div>
        
        <div class="section wanted-section">
            <div class="section-title">Вы хотели посмотреть</div>
            <div class="menu-item"><a href="">Отложенные</a></div>
            <div class="menu-item"><a href="">История просмотров</a></div>
        </div>
    </div>

    <!-- <footer>
        <div class="footer-title">Контакты для связи</div>
        <div class="contact-links">
            <a href="mailto:support@example.com" class="contact-link">Email</a>
            <a href="tel:+1234567890" class="contact-link">Телефон</a>
            <a href="https://t.me/example" class="contact-link">Telegram</a>
            <a href="https://vk.com/example" class="contact-link">VK</a>
        </div>
    </footer> -->

    <script>
        document.getElementById('image-upload').addEventListener('change', function(event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function(e) {
                    document.getElementById('preview-image').src = e.target.result;
                };
                reader.readAsDataURL(file);
            }
        });
        
        function toggleDropdown() {
            document.getElementById("profileDropdown").classList.toggle("show");
        }
        
        window.onclick = function(event) {
            if (!event.target.matches('img')) {
                var dropdowns = document.getElementsByClassName("dropdown-menu");
                for (var i = 0; i < dropdowns.length; i++) {
                    var openDropdown = dropdowns[i];
                    if (openDropdown.classList.contains('show')) {
                        openDropdown.classList.remove('show');
                    }
                }
            }
        }
    </script>
</body>
</html>