{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Регистрация</title>
    <link rel="stylesheet" href="{% static 'users/css/register_page.css' %}">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="wrapper">
        <video autoplay loop muted class="bgvideo" id="bgvideo">
            <source src="{% static 'users/vid/007_03.mp4' %}" type="video/mp4">
        </video>
        
        <form action="{% url 'register' %}?next={{ request.GET.next }}" method="POST">
            {% csrf_token %}
            
            <h1>Регистрация</h1>
            
            <div class="input-box">
                {{ form.username }}
                <i class='bx bx-user'></i>
            </div>
            <div class="form-error">{{ form.username.errors }}</div>
            
            <div class="input-box">
                {{ form.email }}
                <i class='bx bx-envelope'></i>
            </div>
            <div class="form-error">{{ form.email.errors }}</div>
            
            <div class="input-box">
                {{ form.password1 }}
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="form-error">{{ form.password1.errors }}</div>
            
            <div class="input-box">
                {{ form.password2 }}
                <i class='bx bxs-lock-alt'></i>
            </div>
            <div class="form-error">{{ form.password2.errors }}</div>
            
            <div class="remember">
                <label>
                    <input type="checkbox" name="remember"> Запомнить меня
                </label>
            </div>
            
            <button type="submit" class="btn1">Зарегистрироваться</button>
            
            <div class="register-link">
                <p>Уже есть аккаунт? <a href="{% url 'login' %}?next={{ request.GET.next }}">Войти</a></p>
            </div>
        </form>
    </div>
</body>
</html>