{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>{{ book.title }} | FlickPage</title>
    <link rel="stylesheet" href="{% static 'search/css/book_page.css' %}">
    <link rel="icon" type="image/png" href="{% static 'users/img/minilogo.png' %}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <div class="logo"><a href="{% url 'search:browse' %}"><img src="{% static 'search/img/logo.png' %}" height="55" alt="Лого"></a></div>
        <a href="{% url 'profile' %}" class="user-icon"><img src="{% static 'search/img/pfp.png' %}" height="55" alt="Личный кабинет"></a>
    </div>

    <div class="container">
        <div class="movie-header">
            {% if book.covers.0 %}
            <img class="movie-poster" src="https://covers.openlibrary.org/b/id/{{ book.covers.0 }}-L.jpg" alt="Обложка книги">
            {% elif book.cover_i %}
            <img class="movie-poster" src="https://covers.openlibrary.org/b/id/{{ book.cover_i }}-L.jpg" alt="Обложка книги">
            {% else %}
            <img class="movie-poster" src="https://sun9-78.userapi.com/impg/yyWM7GvBjLtUXQ6mX8KUXPhQ_YLEWW2xWGpVWg/H1TnNhZMDC0.jpg?size=404x539&quality=95&sign=e313f391fc2d6e1d3fb91b1793bb0b2e&type=album" alt="Обложка книги">
            {% endif %}
            <a href="{% url 'recommendations_books' %}" class="recommendation-btn">
                Перейти к рекомендациям
            </a>
            <div class="movie-info">
                <h1>{{book.title}}</h1>
                {% if book.subject_times.0 %}
                    <p>{{ book.subject_times.0 }}</p>
                {% endif %}
                <h3>{{book.authors.0.author.name}}</h3>
                {% if book.excerpts.1.pages %}
                <p>Cтраниц: {{ book.excerpts.1.pages }}</p>
                {% endif %}
                <div class="ratings">
                    <div>Оценка (FlickPage): {{ rating|default:"Нет оценок" }}</div>
                </div>

                <form method="post" action="#">
                    {% csrf_token %}
                    <div class="add-to-watchlist">
                        <button type="button" class="btn {% if is_wished %}active{% endif %}" id="watchlist-btn" onclick="toggleWatchlist()">
                            <i class="fas {% if is_wished %}fa-check-circle{% else %}fa-plus-circle{% endif %}" id="watchlist-icon"></i> Хочу прочитать
                        </button>
                    </div>
                </form>


                <div id="user-rating-block" {% if not user_rating %}style="display: none;"{% endif %}>
                    <h3>Ваша оценка: {{ user_rating }}/10</h3>
                    <a href="#" onclick="toggleRatingForm(); return false;"><i>Изменить</i></a>
                </div>

                <div id="rating-form-block" {% if user_rating %}style="display: none;"{% endif %}>
                    <h3>Оцените книгу: </h3>
                    <form method="post" action="#">
                        {% csrf_token %}
                        <div class="rating">
                            <div class="stars">
                                <input type="radio" id="star10" name="rating" value="10"><label for="star10">★</label>
                                <input type="radio" id="star9" name="rating" value="9"><label for="star9">★</label>
                                <input type="radio" id="star8" name="rating" value="8"><label for="star8">★</label>
                                <input type="radio" id="star7" name="rating" value="7"><label for="star7">★</label>
                                <input type="radio" id="star6" name="rating" value="6"><label for="star6">★</label>
                                <input type="radio" id="star5" name="rating" value="5"><label for="star5">★</label>
                                <input type="radio" id="star4" name="rating" value="4"><label for="star4">★</label>
                                <input type="radio" id="star3" name="rating" value="3"><label for="star3">★</label>
                                <input type="radio" id="star2" name="rating" value="2"><label for="star2">★</label>
                                <input type="radio" id="star1" name="rating" value="1"><label for="star1">★</label>
                            </div>
                            <button style="margin-left: 20px;" type="submit" class="btn">Сохранить оценку</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="add-review-button">
            {% if not is_reviewed %}
                <a href="{% url 'add_review' 'book' book.key|cut:'/works/' %}" class="btn">Добавить отзыв</a>
            {% endif %}
            {% if is_reviewed %}
                <a href="{% url 'reviews' %}" class="btn">Просмотреть в дневнике</a>
            {% endif %}
        </div>
        <div class="movie-description">
            <h2>Описание</h2>
            {% if summary %}
                <p>{{ summary }}</p>
            {% elif book.description %}
                <p>{{book.description|cut:"'type': '/type/text', 'value': "}}</p>
            {% else %}
                <p>У этой книги пока нет описания 😕</p>
            {% endif %}
            {% if substance %}
            <div class="summary-button">
                <a href="{% url 'search:book_substance' book.key|cut:'/works/' %}" class="btn">
                    <i class="fas fa-book-open"></i> Краткое содержание
                </a>
            </div>
            {% endif %}
        </div>
        <div class="reviews">
            <h2 class="review-word">Отзывы</h2>
            {% if not data %}
            <div class="movie-description">
                <p>У этой книги ещё нет отзывов😕. Оставьте отзыв первыми!</p>
            </div>
            {% endif %}
            {% for item in data %}
                <div class="review-item">
                    <div class="review-header">
                        <h3 class="review-nick">{{ item.nick }}</h3>
                        {% if item.grade is not None %}
                            <span class="review-grade">
                                {{ item.grade }} <i class="fas fa-star"></i>
                            </span>
                        {% endif %}
                    </div>
                    <div class="review-content">
                        <p>{{ item.review }}</p>
                    </div>
                </div>
            {% endfor %}
       </div>
    </div>
</body>
</html>
<script>
    function toggleRatingForm() {
        document.getElementById('user-rating-block').style.display = 'none';
        document.getElementById('rating-form-block').style.display = 'block';
    }

    function toggleWatchlist() {
        var button = document.getElementById("watchlist-btn");
        var icon = document.getElementById("watchlist-icon");

        fetch("", {
            method: 'POST',
            headers: {
                'X-CSRFToken': '{{ csrf_token }}',
                'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: "isWished=true"
        })
        .then(response => response.json())
        .then(data => {
            if (data.status === 'added') {
                button.classList.add("active");
                icon.classList.remove("fa-plus-circle");
                icon.classList.add("fa-check-circle");
            } else if (data.status === 'removed') {
                button.classList.remove("active");
                icon.classList.remove("fa-check-circle");
                icon.classList.add("fa-plus-circle");
            }
        })
    }
</script>
