{% load static %}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Поиск | FlickPage</title>
    <link rel="stylesheet" href="{% static 'search/css/search_page.css' %}">
    <link rel="icon" type="image/png" href="{% static 'users/img/minilogo.png' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/15.7.0/nouislider.min.js"></script>
</head>
<body>
    <div class="header">
        <a href="{% url 'search:browse' %}" class="logo"><img src="{% static 'search/img/logo.png' %}" height="55" alt="Лого"></a>
        <a href="{% url 'profile' %}" class="user-icon"><img src="{% static 'search/img/pfp.png' %}" height="55" alt="Лого"></a>
    </div>

    <div class="container">
        <h1>Подбор фильмов и книг по параметрам</h1>
        <form method="get" action="{% url 'search:results' %}">
            <select id="typeSelect" onchange="toggleFilters()" name="search_type">
                <option value="movie">Фильм</option>
                <option value="book">Книга</option>
            </select>
            <div id="movieFilters">
                <div class="multi-select">
                    <input type="checkbox" id="action" value="+боевик" name="genre">
                    <label for="action">Боевик</label>
                    <input type="checkbox" id="comedy" value="+комедия" name="genre">
                    <label for="comedy">Комедия</label>
                    <input type="checkbox" id="drama" value="+драма" name="genre">
                    <label for="drama">Драма</label>
                    <input type="checkbox" id="sci-fi" value="+фантастика" name="genre">
                    <label for="sci-fi">Фантастика</label>
                    <input type="checkbox" id="horror" value="+ужасы" name="genre">
                    <label for="horror">Ужасы</label>
                    <input type="checkbox" id="thriller" value="+триллер" name="genre">
                    <label for="thriller">Триллер</label>
                    <input type="checkbox" id="animation" value="+мультфильм" name="genre">
                    <label for="animation">Анимация</label>
                    <input type="checkbox" id="documentary" value="+документальный" name="genre">
                    <label for="documentary">Документальный</label>
                    <input type="checkbox" id="melodrama" value="+мелодрама" name="genre">
                    <label for="melodrama">Мелодрама</label>
                    <input type="checkbox" id="military" value="+военный" name="genre">
                    <label for="military">Военный</label>
                    <input type="checkbox" id="mystery" value="+фэнтези" name="genre">
                    <label for="mystery">Фэнтези</label>
                    <input type="checkbox" id="western" value="+вестерн" name="genre">
                    <label for="western">Вестерн</label>
                    <input type="checkbox" id="adventure" value="+приключения" name="genre">
                    <label for="adventure">Приключения</label>
                </div>
                <div id="yearRangeSlider" style="margin: 20px 15px;"></div>
                <input type="hidden" id="yearsInput" name="years" value="1900-2025">

                <script>
                    var yearSlider = document.getElementById('yearRangeSlider');

                    noUiSlider.create(yearSlider, {
                        start: [1900, 2025],
                        connect: true,
                        step: 1,
                        range: {
                            'min': 1900,
                            'max': 2025
                        },
                        tooltips: [true, true], // отображение всплывающих подсказок
                        format: {
                            to: function (value) {
                                return Math.round(value);
                            },
                            from: function (value) {
                                return Number(value);
                            }
                        }
                    });

                    yearSlider.noUiSlider.on('update', function (values, handle) {
                        // При каждом изменении обновляем скрытое поле для отправки
                        document.getElementById('yearsInput').value = `${values[0]}-${values[1]}`;
                    });
                </script>
                <div class="checkbox-group">
                    <div class="toggle-group">
                        <input type="radio" id="option-rus" name="country" value="Россия,СССР" checked>
                        <label for="option-rus">Россия</label>

                        <input type="radio" id="option-us" name="country" value="США">
                        <label for="option-us">США</label>

                        <input type="radio" id="option-france" name="country" value="Франция">
                        <label for="option-france">Франция</label>

                        <input type="radio" id="option-uk" name="country" value="Великобритания">
                        <label for="option-uk">Великобритания</label>

                        <input type="radio" id="option-ge" name="country" value="Германия">
                        <label for="option-ge">Германия</label>

                        <input type="radio" id="option-korea" name="country" value="Корея Южная">
                        <label for="option-korea">Корея</label>

                        <input type="radio" id="option-others" name="country" value="!Великобритания,!Корея Южная,!США,!Франция,!Россия,!СССР">
                        <label for="option-others">Другие</label>

                        <input type="radio" id="option-all" name="country" value="!Россия+Россия">
                        <label for="option-all">Все</label>
                    </div>
                </div>
            </div>
            <div id="bookFilters" style="display: none;">
                <select name="genre">
                    <option value="" disabled selected>Жанр</option>
                    <option value="action">Боевик</option>
                    <option value="adventure">Приключения</option>
                    <option value="classics">Классическая литература</option>
                    <option value="fantasy">Фэнтези</option>
                    <option value="horror">Ужасы</option>
                    <option value="novel">Романы</option>
                    <option value="science_fiction">Научная фантастика</option>
                    <option value="thriller">Триллеры</option>
                    <option value="short_stories">Рассказы</option>
                    <option value="romance">Романтика</option>
                    <option value="poetry">Поэзия</option>
                    <option value="plays">Пьесы</option>
                    <option value="mystery_and_detective_stories">Мистика и детективы</option>
                    <option value="magic">Магия</option>
                    <option value="humor">Юмор</option>
                    <option value="biography">Биография</option>
                    <option value="business">Бизнес</option>
                    <option value="cooking">Приготовление еды</option>
                    <option value="psychology">Психология</option>
                    <option value="religion">Религия</option>

                </select>
            </div>
            <input type="hidden" name="type" value="by_params"/>
            <button type="submit">Применить</button>
        </form>
    </div>

    <script>
        document.querySelector("form").addEventListener("submit", function (e) {
            const type = document.getElementById("typeSelect").value;

            if (type === "book") {
                const genreSelect = document.querySelector("#bookFilters select");
                if (!genreSelect.value) {
                    genreSelect.focus();
                    e.preventDefault();
                    return false;
                }
            }
        });
        function toggleFilters() {
            let type = document.getElementById('typeSelect').value;
            document.getElementById('movieFilters').style.display = type === 'movie' ? 'block' : 'none';
            document.getElementById('bookFilters').style.display = type === 'book' ? 'block' : 'none';

            if (type === 'movie') {
                // Показаны фильтры фильмов => включить поле yearsInput
                document.getElementById('yearsInput').disabled = false;

                // Сбросить книжные селекты
                document.querySelectorAll('#bookFilters select').forEach(select => {
                    select.selectedIndex = 0;
                });

            } else {
                // Показаны фильтры книг => отключить поле yearsInput
                document.getElementById('yearsInput').disabled = true;

                // Сбросить фильтры фильмов
                document.querySelectorAll('#movieFilters input, #movieFilters select').forEach(el => {
                    if (el.type === 'checkbox' || el.type === 'radio') {
                        el.checked = false;
                    } else {
                        el.selectedIndex = 0;
                    }
                });
            }
        }
    </script>
</body>
</html>
